/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", Arial, sans-serif; /* Update the font-family */
}
#chatbody {
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  height: 100vh;
  display: flex;
  align-items: self-end;
  justify-content: end;
  flex-direction: column;
  overflow-y: scroll;
}
#sendMessageForm {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  display: flex;
  background-color: #ffffff00;
  justify-content: center;
}
#sendMessageForm button {
  flex: 1;
  margin-left: 10px;
  background-color: #128c7e;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
#sendMessageForm input {
  width: 100%;
}
/* Individual message container */
.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px; /* Update the margin-bottom value as needed */
}

/* Sender's name */
.message strong {
  margin-right: 5px;
}

/* Message bubble */
.message .bubble {
  max-width: 70%;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 16px;
  position: relative;
}

/* Sent message bubble */
.message.sent .bubble {
  background-color: #dcf8c6;
  color: #000000;
  align-self: flex-end;
}

/* Received message bubble */
.message.received .bubble {
  background-color: #e6e5eb;
  color: #000000;
  align-self: flex-start;
}

/* Message status ticks for sent messages */
.message.sent .status {
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  right: 11px;
}

/* Message time */
.message .time {
  font-size: 10px;
  color: #888888;
  align-self: flex-end;
}
.message.sent .time {
  font-size: 10px;
  color: #888888;
  align-self: flex-end;
  margin-bottom: 20px;
}
#chatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 110px;
}
